@import url('https://fonts.googleapis.com/css?family=Rubik:400');
*{
  box-sizing: border-box;
}

body{
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Rubik',-apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”,
  “Ubuntu”, “Cantarell”, “Fira Sans”,
  “Droid Sans”, “Helvetica Neue”, sans-serif;
}
.card-holder {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  color: #727790;
  line-height: 1.5;
}

.card {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.card-body {
  background-color: #fff;
  flex: 1;
  font-size: 12px;
  padding: 13px;
}

.card-footer{
  padding: 10px;
  line-height: 1;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(33, 42, 60, 0.43);
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer svg{
  
  width: 16px;
  margin-right:5px;
}

.paint{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 17px 0px;
  height: 200px;
  border-radius: 4px;
  position: relative;
}

.hex{
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}