@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
*{
  box-sizing: border-box;
}

body{
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand',-apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”,
  “Ubuntu”, “Cantarell”, “Fira Sans”,
  “Droid Sans”, “Helvetica Neue”, sans-serif;
}
.card-holder {
  width: 325px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #727790;
  line-height: 1.5;
  padding-top:10px;
}

.card {
  width: 300px;
  height: auto;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border: 1px solid #cdd3da73;
  border-radius: 4px;
  overflow: hidden;
}

.card-header {
  padding: 14px;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 1;
}
.card-body {
  background-color: #fff;
  flex: 1;
  font-size: 12px;
}
.card-footer {
  font-size: 11px;
  text-align: right;
  padding: 10px;
  line-height: 1;
  color: #3e404b;
}

.main{
  padding: 30px;
  display: flex;
  align-items: center;
}

.main .paint{

}

.main .paint span{
  width: 65px;
  height: 65px;
  display: inline-block;
  background: #aaa;
  border-radius: 4px;
  margin-right: 10px;
}

ul{
  list-style: none;
    padding: 0;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
}

ul li{
  text-align: center;
  height: 107px;
  flex: 1;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.preview{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #aaa;
    border-radius: 3px;
}
.color{
    
  font-size: 11px;
}

.shades{
  
  margin-bottom: 20px;
}
.classes{
  
  margin-bottom: 20px;
}
.range{
  
  margin-bottom: 20px;
}

.info span {
  text-transform: uppercase;
  font-size: 9px;
}
.info i {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}


.title {
       /* font-weight: 600; */
       opacity: 0.6;
       /* text-transform: capitalize; */
       margin: 5px 0 0;
}
.color {
  font-size: 11px;
  color: #373d63;
  margin: 5px 0;
}

.card-footer{
  color:#2e3977;
  font-weight: 900;
}